[submodule ".vim/bundle/markdown"]
	path = .vim/bundle/markdown
	url = git://github.com/plasticboy/vim-markdown.git
[submodule ".vim/bundle/ack.vim"]
	path = .vim/bundle/ack.vim
	url = git://github.com/mileszs/ack.vim.git
[submodule ".vim/bundle/ctrlp.vim"]
	path = .vim/bundle/ctrlp.vim
	url = git://github.com/kien/ctrlp.vim.git
