[alias]
	amend = commit --amend -C HEAD --signoff
	ci    = commit --signoff
	co    = checkout
	l     = log --graph --pretty=format':%C(yellow)%h%Cblue%d%Creset %s %C(white) %an, %ar%Creset'
	st    = status -sb
[apply]
	whitespace = warn
[commit]
  gpgsign = true
[color]
	diff    = auto
	status  = auto
	branch  = auto
	ui      = true
[core]
	editor = nvim
[help]
	autocorrect = 1
[init]
	defaultBranch = main
[pull]
	rebase = true
[push]
	default = current
[status]
	submodule = 1
[user]
	name        = xla
	email       = self@xla.is
  signingkey  = 4AFF44222AF43F8F
