.DS_Store
*.*~
*.netrwhist*
*fishd*
sublime/User/GoSublime-aux.sublime-settings
sublime/User/GoSublime/
sublime/User/*.cache
sublime/User/*.last-run
.st/pkg
.st/src
.st/st-*
.xmonad/xmonad-x86_64-linux
.xmonad/xmonad.errors
.xmonad/xmonad.hi
.xmonad/xmonad.o
.xmonad/xmonad.state