.DS_Store
*.*~
*.netrwhist*
*fishd*
*vim/backup*
*vim/backup/*
*vim/snippets
*vim/viminf*
*vim/doc/*
*vim/tmp/*
*vim/swap/*
*vim/undo/*
.VimballRecord
sublime/User/GoSublime-aux.sublime-settings
sublime/User/GoSublime/
sublime/User/*.cache
sublime/User/*.last-run
.xmonad/xmonad-x86_64-linux
.xmonad/xmonad.errors
.xmonad/xmonad.hi
.xmonad/xmonad.o
.xmonad/xmonad.state